@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Bartosz Szymański</h3>

<address>
    Abbey Road 3<br />
    London, Great Britain<br />
    +48 123-456-789
</address>

<address>
    <strong>Author:</strong>   <a href="mailto:kontakt@bartoszszymanski.net">kontakt@bartoszszymanski.net</a><br />
</address>