<h2>@Resource.Contact</h2>
<h3>Bartosz Szymański</h3>

<address>
    Abbey Road 3<br />
    London, Great Britain<br />
    +48 123-456-789
</address>

<address>
    <strong>@Resource.Author:</strong>   <a href="mailto:kontakt@bartoszszymanski.net">kontakt@bartoszszymanski.net</a><br />
</address>